[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = git://github.com/gmarik/vundle
    ignore = untracked
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop
    ignore = untracked
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "bundle/Markdown"]
	path = bundle/Markdown
	url = git://github.com/vim-scripts/Markdown
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab
[submodule "bundle/ctags.vim"]
	path = bundle/ctags.vim
	url = git://github.com/vim-scripts/ctags.vim
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = git://github.com/vim-scripts/surround.vim
    ignore = untracked
[submodule "bundle/The-NERD-tree"]
	path = bundle/The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree
    ignore = untracked
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter
    ignore = untracked
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git://github.com/vim-scripts/ack.vim
    ignore = untracked
[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim
    ignore = untracked
[submodule "bundle/Conque-Shell"]
	path = bundle/Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell
    ignore = untracked
[submodule "bundle/vim-statline"]
	path = bundle/vim-statline
	url = git://www.github.com/millermedeiros/vim-statline
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://www.github.com/Raimondi/delimitMate
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
    ignore = untracked
[submodule "bundle/std_c"]
	path = bundle/std_c
	url = git://github.com/vim-scripts/std_c.zip.git
[submodule "bundle/shady.vim"]
	path = bundle/shady.vim
	url = git://github.com/cloudhead/shady.vim.git
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = git://github.com/sjl/badwolf.git
[submodule "bundle/Vim-Jinja2-Syntax"]
	path = bundle/Vim-Jinja2-Syntax
	url = git://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule "bundle/autojump.vim"]
	path = bundle/autojump.vim
	url = git://github.com/trotter/autojump.vim.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-vividchalk"]
	path = bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/markify"]
	path = bundle/markify
	url = git@github.com:dhruvasagar/vim-markify.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/mips.vim"]
	path = bundle/mips.vim
	url = git://github.com/vim-scripts/mips.vim
[submodule "bundle/soda.vim"]
	path = bundle/soda.vim
	url = git://github.com/DAddYE/soda.vim
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = git://github.com/chriskempson/base16-vim.git
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = git://github.com/sickill/vim-monokai.git
[submodule "bundle/vitality.vim"]
	path = bundle/vitality.vim
	url = git://github.com/sjl/vitality.vim.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git://github.com/mhinz/vim-startify.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/Hemisu"]
	path = bundle/Hemisu
	url = git://github.com/noahfrederick/Hemisu.git
