[submodule "bundle/AutoClose"]
	path = bundle/AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "AutoClose"]
	path = AutoClose
	url = git://github.com/vim-scripts/AutoClose.git
[submodule "AutoComplPop"]
	path = AutoComplPop
	url = git://github.com/vim-scripts/AutoComplPop.git
[submodule "Conque-Shell"]
	path = Conque-Shell
	url = git://github.com/vim-scripts/Conque-Shell.git
[submodule "Markdown"]
	path = Markdown
	url = git://github.com/vim-scripts/Markdown.git
[submodule "SuperTab-continued."]
	path = SuperTab-continued.
	url = git://github.com/vim-scripts/SuperTab-continued..git
[submodule "SuperTab"]
	path = SuperTab
	url = git://github.com/vim-scripts/SuperTab.git
[submodule "The-NERD-Commenter"]
	path = The-NERD-Commenter
	url = git://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "The-NERD-tree"]
	path = The-NERD-tree
	url = git://github.com/vim-scripts/The-NERD-tree.git
[submodule "a.vim"]
	path = a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "ack.vim"]
	path = ack.vim
	url = git://github.com/vim-scripts/ack.vim.git
[submodule "badwolf"]
	path = badwolf
	url = git://github.com/vim-scripts/badwolf.git
[submodule "ctags.vim"]
	path = ctags.vim
	url = git://github.com/vim-scripts/ctags.vim.git
[submodule "gundo.vim"]
	path = gundo.vim
	url = git://github.com/sjl/gundo.vim
[submodule "rainbow_parentheses.vim"]
	path = rainbow_parentheses.vim
	url = git://github.com/vim-scripts/rainbow_parentheses.vim
[submodule "surround.vim"]
	path = surround.vim
	url = git://github.com/vim-scripts/surround.vim.git
[submodule "syntastic"]
	path = syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim-easymotion"]
	path = vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vundle"]
	path = vundle
	url = git://github.com/gmarik/vundle
